[submodule "KonomiTV"]
	path = KonomiTV
	url = https://github.com/tsukumijima/KonomiTV.git
[submodule "Amatsukaze"]
	path = Amatsukaze
	url = https://github.com/rigaya/Amatsukaze.git
	branch = release